{% extends 'base.html' %}
{%load static%}

{% block Titulo%} Cadastro Colaborador {% endblock%}

{% block container%}
    <form action="{% url 'cadColaborador' %}" method="post">
        {% csrf_token %}
      <div class="mb-3">
        <label for="1" class="form-label">Nome</label>
        <input type="text" class="form-control" id="1" aria-describedby="emailHelp" name="nome">
      </div>
      <div class="mb-3">
        <label for="2" class="form-label">NIF</label>
        <input type="text" class="form-control" id="2" name="nif">
      </div>
      <div class="mb-3">
        <label for="3" class="form-label">Senha</label>
        <input type="text" class="form-control" id="3" name="senha">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="nivelAcesso" id="5" value="1">
        <label class="form-check-label" for="5">
          Aluno
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="nivelAcesso" id="6" value="2" checked>
        <label class="form-check-label" for="6">
          Professor
        </label>
      </div>
            <div class="form-check">
        <input class="form-check-input" type="radio" name="nivelAcesso"  id="7" value="3">
        <label class="form-check-label" for="7">
          Analista
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="nivelAcesso" id="8" value="4">
        <label class="form-check-label" for="8">
          Coordenador
        </label>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}