{% extends 'base.html' %}
{%load static%}

{% block Titulo%} Cadastro Aluno {% endblock%}

{% block container%}
    <form action="{% url 'cadFiap' %}" method="post">
        {% csrf_token %}
      <div class="mb-3">
        <label for="aluno" class="form-label">Nome</label>
        <select class="form-control" name="turma" id="aluno">
          {% for alun in aluno %}
            <option value="{{alun.id}}">{{alun.nome}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="2" class="form-label">RA</label>
        <input type="text" class="form-control" id="2" name="ra">
      </div>
      <label for="turma">Escolha a Turma:</label>
        <select class="form-control" name="turma" id="turma">
          {% for alun in aluno %}
            <option value="{{alun.turma_id}}">{{alun.nome}}</option>
          {% endfor %}
        </select>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}