{% extends 'base.html' %}
{%load static%}

{% block Titulo%} HOME {% endblock%}


{% block container%}
<div align="center" style="width: 100%; height: 100vh; display: flex; flex-direction: column; align-items: center;  justify-content: center;">

    <h1 style="font-size: 60px">Sistema Fiap</h1>
    <br><br><br>
    <a class="btn btn-primary" style="font-size: 30px" href="{% url 'cadAluno' %}">Cadastrar Aluno</a>
    <br><br>
    <a class="btn btn-primary" style="font-size: 30px" href="{% url 'cadColaborador' %}">Cadastrar Colaborador</a>
    <br><br>
    <a class="btn btn-primary" style="font-size: 30px" href="{% url 'cadTurma' %}">Cadastrar Turma</a>
    <br><br>
    <a class="btn btn-primary" style="font-size: 30px" href="{% url 'mainFiap' %}">FIAPS</a>
</div>

{% endblock %}